body {
	font-family: helvetica;
	color: #005288;
	background-color: #e47933;
}

#map {
	height: 55vh;
	width: 40vw;

	border-radius: 125px;
	margin: 0 auto;
}

.banner {
	display: black;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

img {
	display: black;
	margin-left: auto;
	margin-right: auto;
	margin-block-start: auto;
	margin-block-end: auto;
	width: 80%;
}

h1 {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.box{
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.information {
	float: center;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	border: 3px solid #A7A9AC;
	background-color: #c1c3c5;
	width: 60%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.row{
	float: left;
	padding: 10px;
	width: 60%;
}

.form-control{
	border-radius: 5px;
}

.btn{
	border-radius: 5px;
	color: white;
	background-color: #005288;
}


#map {
	float:left;
	display: flex;
  	height: 50vh;
  	width: 30vw;

  	border-radius: 5px;
  	margin: auto;
}
